<div class="container">

  <div>
    <h1>Client: <%= @client.name() %> <span class="glyphicon glyphicon-user"></span></h1>
  </div>
<br><br><br>
  <div class="buttons">

    <a class="btn btn-primary btn-md" href="/clients" role="button"> Back to Client List</a>

    <a class="btn btn-primary btn-md" href="/client/<%= @client.id() %>/edit" role="button"> Edit <%= @client.name() %>'s' info</a>

    <a class="btn btn-primary btn-md" href="/" role="button">Return Home</a>

  </div>

</div>
