<h1>New Client</h1>


<% if @stylists.any?() %>

    <div class="form">

      <form action='/clients/new' method= "post">
        <label for="name">Client Name:</label>
        <input id="name" name="name" type="text">

        <label for="stylist_id">Desired Stylist:</label>
        <select id='stylist_id' name='stylist_id' type='text'>
          <% @stylists.each() do |stylist| %>
            <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
          <% end %>
        </select>

        <button type="submit">Add Client</button>
      </form>

  </div>

<% else %>

      <p>There are currently no stylists to assign clients to! Try <a href="/stylists/new">adding a new stylist</a>, or <a href="/stylists">checking out our stylists</a> instead.</p>

      <p>As soon as stylists are available, visit this page to assign clients to them!</p>

<% end %>
