<div class="container">

  <h1>Client: <%= @client.name() %></h1>

  <h1>Stylist: <%= @client_stylist.name() %></h1>

  <p><a class="btn btn-primary btn-md" href="/clients" role="button"> < Go Back</a></p>

</div>
