<div class="container">
  <h2>All Salon Clients: <span class="glyphicon glyphicon-list"></span></h2><br>

  <% if @clients.any?() %>
      <ul>
        <% @clients.each() do |client| %>
          <li><a href="/clients/<%= client.id() %>"> <%= client.name() %></a></li>
        <% end %>
      </ul>

  <% else %>
        <p>There are currently no clients. Try <a href="/clients/new">adding a new client</a>, or <a href="/stylists">checking out our stylists</a> instead.</p>
  <% end %>

  <br><br><br>

  <div class="buttons">
    <a class="btn btn-primary btn-md" href="/" role="button">Return Home</a>
  </div>

</div>
