<div class="container">

<div>
  <h1>Client: <%= @client.name() %></h1>
</div>




  <p><a class="btn btn-primary btn-md" href="/clients" role="button"> < Go Back</a></p>


  <p><a href="/client/<%= @client.id() %>/edit">Edit <%= @client.name() %> info</a></p>

</div>
