<DOCTYPE html>

  <head>
    <title>Salon Management</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='css/styles.css'>
  </head>

  <div class="jumbotron">
    <div class="container">
      <h1>Salon Management Database</h1>
      <p class="lead">Manage clients and stylists below:</p>
    </div>
  </div>

  <body>
    <%= yield %>
  </body>

</html>
