<div class="container">

  <% if @stylists.any?() %>
    <h3>Current Stylists: <span class="glyphicon glyphicon-list"></span></h3><br>

    <ul>
      <% @stylists.each() do |stylist| %>
        <li><a href="/stylists/<%= stylist.id() %>"> <%= stylist.name() %></a></li>
    </ul>
      <% end %>
    <% else %>
      <p>There are currently no stylists to assign clients to! Try <a href="/stylists/new">adding a new stylist</a>
    <% end %>

    <br><br><br>

  <div class="buttons">
    <a class="btn btn-primary btn-md" href="/" role="button">Return Home</a>
  </div>

</div>
