<div class="container">


  <h2>Add New Stylist:</h2>

  <div class="form">

    <form action='/stylists/new' method= "post">
      <label for="name">Stylist Name:</label>
      <input id="name" name="name" type="text">

      <button type="submit">Add Stylist</button>
    </form>

  </div>
<br><br><br>
<div class="buttons">


<p><a class="btn btn-primary btn-md" href="/" role="button">Return Home</a></p>

</div>
</div>
