<div class="container">

  <% if @stylists.any?() %>
    <h3>Current Stylists:</h3>

    <ul>
      <% @stylists.each() do |stylist| %>
        <li><a href="/stylists/<%= stylist.id() %>"> <%= stylist.name() %></a></li>
    </ul>
      <% end %>
    <% else %>
      <p>There are currently no stylists to assign clients to! Try <a href="/stylists/new">adding a new stylist</a>
    <% end %>

    <br><br><br>

<div class="buttons">
  <p><a class="btn btn-primary btn-md" href="/" role="button">Return Home</a></p>

</div>
</div>
